# Ignore virtual environment
.venv/
venv/
env/

# Ignore __pycache__ and Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter checkpoints
.ipynb_checkpoints/

# Ignore data & models if large
data/
models/
